{
  "proseWrap": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^vue", "^naive-ui", "^[^.]", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
